/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Стили для темы "dark" */
.dark {
    background-color: #202020;
    color: white;
}

.dark .panel {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
}

.dark .button {
    background-color: #1f1f1f;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.dark .w3-bordered tr,
.dark .w3-table-all tr {
    border-bottom: 1px solid #494949;
}

.dark .w3-button:hover {
    background-color: #525252;
    color: white;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    /* Применить стили для узких экранов */
    .panel {
        padding: 10px;
        border-radius: 0;
    }

    .button {
        padding: 8px;
        border-radius: 3px;
    }
}

@media (min-width: 769px) {
    /* Применить стили для широких экранов */
    .panel {
        margin: 20px;
    }
}
